.App {
  text-align: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-center;
    gap: 20px;
}

img {
    padding: 5px;
    justify-content: flex-end;
    max-height: 75px;
    max-width: 75px;
} 

